body  {

  padding: 0 15px 0 15px;
  background-color: rgb(16, 15, 15);
  
}

a {

color: white;
text-decoration: none;
}

a:hover {

color: rgb(31, 195, 108);
  
}


        .title {
            margin: 5px;
        }

        .content {
            margin: 5px;
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .student {
            flex: 20%;
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3;
            inline-size: 100%;
        }

        .bio {
            padding: 10px;
            margin: 5px;
            background-color: #ffffff;
            color: #004835;
        }

        .name a {
            color: gb(239, 239, 239);
            text-decoration: none;
        }

        nav a {
            color: gb(239, 239, 239);
            font-size: 20px;
            margin-left: 50px;
            text-decoration: none;
        }


   

.transaction{
background: none;
min-width: 100%;
min-height: 100%;
height: 100%;
margin-top: 50px;
}

.Border{

border-bottom: solid;
border-bottom-width: 0.5px;
border-color: rgb(239, 239, 239, 0.1);
}

.border{

border: 0px;
}

.currency {
font-size: 80%;
font-weight: bold;
display: inline-block;
text-align: center;
}

.currency-icon{
width: 20px;
height: 20px;
padding: 0px;
  
}

.size {

min-height: 50px;
  
}

.symbol{

font-size: 18px;
font-weight: bold;
color: rgb(239, 239, 239);
  
}

.total {
position: relative;
font-size: 35px;
font-weight: bold;
color: rgb(239, 239, 239);  
margin-top: 50px;

}

.logo-text {

font-size: 20px;
font-weight: bold;
color: rgb(239, 239, 239); 

  
}

.variation-icon{
width: 60px;
height: 22px;
}

.navbar-nav {
position: absolute;
right: 10px;
}



.currency-name{

font-size: 10px;
font-weight: 10;
color: rgb(239, 239, 239);
}

