{% extends 'base.html' %}

{% block content %}

<div class="block-create">
  
<div class ="form-currency">
  
<form method="post" id="my-form">
      

<select id="select-state" name="idcurrency"  id="sel2">
<option><i class="fa-solid fa-magnifying-glass"></i></option>
        {% for obj in coinlist %}
<option value="{{obj.id}}">{{obj.name}}</option>
        {% endfor %}
</select>     


 <div class="input-container">
   <i class="fa-solid fa-coins icon"></i>
    <input type="number" name="price" step="0.000000001" placeholder="" class="input-currency" class="selectize-input" class="input-field">
  </div>

  
 <!-- <input type="number" name="price" step="0.000000001" placeholder="" class="input-currency" class="selectize-input" ></input> -->

<div class="input-container">
   <i class="fa-solid fa-euro-sign icon"></i>
<input type="number" name="quantity" placeholder="" class="input-currency" step="0.000000001" class="selectize-input" class="input-field">
 </div>
  <button type="submit" class="btn btn-light btn-lg btn-currency .line" id="my-form">Submit</button>
</form>
  
</div>
  </div>

{% endblock %}