{% extends 'base.html' %}

{% block content %}

<section>
<nav class="navbar navbar-expand-lg Border">
<P class="title-page">Supprimer un montant</P>
<div class="container-fluid size title-container">
<a class="navbar-brand fw-bold logo-text" href="{{ url_for('index') }}">X</a>
</div>
</nav>
</section>

<section class="block-create">
  
<div class="form-currency">
  
    <form method="post"
    action="{{ url_for('delete_page', currency_idcurrency=currency_idcurrency) }}" id="my-form" class="needs-validation">
      

<select id="select-currency-delete" name="currency_idcurrency" onchange="getCurrency(this)" id="validationCustom01" class="form-control" required>
<option><i class="fa-solid fa-magnifying-glass"></i></option>
        {% for currency in currency %}
<option value="{{currency.idcurrency}}----{{currency.price}}">{{ getsymbol(currency.idcurrency) }}({{ getname(currency.idcurrency) }})</option>
        {% endfor %}
</select>   


<div class="input-container">
   <i class="fa-solid fa-euro-sign icon"></i>
    <input type="text" class="input-currency selectize-input input-field delete-price" disabled>
  </div>
      
<button type="submit" value="Delete Currency"onclick="return confirm('Are you sure you want to delete this transaction?')" class="btn btn-light btn-lg btn-currency" id="my-form">Delete</button>
      
    </form>
 </div>
</section>

{% endblock %}