{% extends 'base.html' %}

{% block content %}

    <h1 style="width: 100%">
    </h1>
<section class="block-create">
<div class="form-currency">
    <form method="post"
    action="{{ url_for('delete_page', currency_idcurrency=currency_idcurrency) }}">
      
            <label >id</label>
            <select id="select-currency-delete" name="currency_idcurrency" placeholder="Pick a currency..." onchange="getCurrency(this)">
    <option value="">Select currency...</option>
        {% for currency in currency %}
             
    <option value="{{currency.idcurrency}}----{{currency.price}}" price="{{getprice(currency.idcurrency)}}">{{ getsymbol(currency.idcurrency) }}({{ getname(currency.idcurrency) }})</option>

        {% endfor %}
    </select>   

   
 <p>
<label for="price">Price</label>
<input class="delete-price" type="text" placeholder="" disabled>
</input>
 </p>


      
<button type="submit" value="Delete Student"onclick="return confirm('Are you sure you want to delete this transaction?')">Delete</button>
      
    </form>
 </div>
</section>section>
{% endblock %}