{% extends 'base.html' %}

{% block content %}


<section class="block-create">
  
<div class="form-currency">
  
    <form method="post" action="{{ url_for('edit', idcurrency=idcurrency) }}" id="my-form">

<select id="select-currency-delete" name="idcurrency" onchange="getCurrency(this)">
<option><i class="fa-solid fa-magnifying-glass"></i></option>
        {% for db_currency  in db_currency  %}
<option value="{{db_currency.idcurrency}}">{{ getsymbol(db_currency.idcurrency) }}({{ getname(db_currency.idcurrency) }})</option>
        {% endfor %}
</select>     

     
 <div class="input-container">
   <i class="fa-solid fa-coins icon"></i>
    <input type="number" name="price" step="0.000000001" class="input-currency" class="selectize-input" class="input-field">
  </div>


<div class="input-container">
   <i class="fa-solid fa-euro-sign icon"></i>
<input type="number" name="quantity" class="input-currency" step="0.000000001" class="selectize-input" class="input-field">
 </div>

  <button type="submit" class="btn btn-light btn-lg btn-currency .line" id="my-form">Submit</button>
      
    </form>

   </div>
</section>

{% endblock %}