{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">
        {% block title %} Edit {{ currency.idcurrency }}
                               {{ currency.idcurrency }}'s Details
        {% endblock %}
    </h1>
    <form method="post">

      <p>
            <label >id</label>
            <input id="input" list="list" name="idcurrency"/>
             <datalist id="list">
               {% for obj in coinlist %}
             <option value="{{obj.id}}"></option>
               {% endfor %}
              </datalist>
      </p>      
        <p>
            <label for="price">Price</label>
            <input type="number" name="price" step="16777217"  placeholder="">
            </input>
        </p>

        <p>
            <label for="quantity">Quantity</label>
            <input type="number" name="quantity"
                   placeholder="">
            </input>
        </p>
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}