{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} {% endblock %}</h1>
    <div class="content">
        {% for currency in currency %}
            <div class="student">
                <p><b>#{{ currency.id }}</b></p>
                <b>
                    <p class="name">{{ currency.idcurrency }}</p>
                </b>
                <p>{{ currency.price }} $</p>
                <p>{{ currency.quantity }}</p>
                <p>Joined: {{ currency.created_at }}</p>
                <p>Joined: {{ getprice(currency.idcurrency) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
<div class = "transaction">
<div class="container-fluid">
  <div class="row align-items-center">

{% for currency in currency %}
    
    <div class="col-2">
      <img class="currency-icon float-start" src="/static/image/icon_test.jpg" alt ="">
    </div>

    
    <div class="col">
     <span class="symbol">BTC</span>
    </div>
    
    <div class="col-2">
      <img class="variation-icon float-end" src="/static/image/upx2.png" alt ="">
    </div>

{% endfor %}
    
  </div>
</div>
<div>
  
{% endblock %}