{% extends 'base.html' %}

{% block content %}

<!--<h1 class="title">{% block title %} {% endblock %}</h1>
    <div class="content">
        {% for currency in currency %}
            <div class="student">
                <p><b>#{{ currency.id }}</b></p>
                <b>
                    <p class="name">{{ currency.idcurrency }}</p>
                </b>
                <p>{{ currency.price }} $</p>
                <p>{{ currency.quantity }}</p>
                <p>Joined: {{ currency.created_at }}</p>
                <p>Joined: {{ getprice(currency.idcurrency) }}</p>
                </div>
            
        {% endfor %}
     </div> -->

<div class="container-fluid text-center">
<div class="total"> 

<span>{{ total() }}</span>

</div> 
</div>

<div class = "transaction">
  {% for currency in currency %}
<div class="container-fluid Border size">
  
  <div class="row align-items-center size">
    <div class="col-1">
      <img class="currency-icon float-start" src="{{ geticon(currency.idcurrency) }}" alt ="">
    </div>

    
    <div class="col">
     <span class="symbol">{{ getsymbol(currency.idcurrency) }}</span> <span class="currency-name">({{ getname(currency.idcurrency) }})</span>
    </div>
    
    <div class="col-2">
      <img class="variation-icon float-end" src="{{ iconvariation(valuevariation(currency.price, getprice(currency.idcurrency))) }}" alt ="">
    </div>
    
  </div>
</div>
  {% endfor %}
</div>


{% endblock %}